<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2><br>

  <%= form_for @user do |form| %>
    <%= render partial: 'users/form', object: form %>

    <div class="form-group col-md-4">
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  <% end %>
</div>

