<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/"><h3>Pairbnb</h3></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <% if signed_in? -%>
    <li class="nav-item">
            <a class="nav-link" href="/users/show">User Profile</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Listings
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/listings/new">New Listing</a>
        <a class="dropdown-item" href="#">Edit Your Listings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/users/reservations">Your Reservations</a>
      </div>
    </li>
    <li class="nav-item">
            <a class="nav-link" href="/sign_out" data-method="delete">Sign Out</a>
    </li>
    <% else -%>
    <li class="nav-item">
        <a class="nav-link" href="/sign_in">Sign In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/auth/google_oauth2?prompt=select_account">Sign In with Google</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sign_up">Sign Up</a>
    </li>
    <%end%>
  </ul>
    <%= form_tag(listings_list_path, :method => "get", id: "search-form", class:"form-inline") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search by Country or City", class:"form-control mr-sm-2" %>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <% end %>
</div>
</nav>